/* User Profile */
.profile-container {
  align-items: center;
}

.profile-icon {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.profile-pic {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

/* Dropdown Menu */
.profile-menu {
  display: none;
  position: absolute;
  top: 47px;
  right: 20px;
  background-color: white;
  border-radius: 12px;
  width: 300px;
  max-height: 100vh;
  padding: 5px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 1000;
  box-sizing: border-box;
}

.profile-container:hover .profile-menu {
  display: block;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.dropdown-pic {
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-name {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.view-channel-link {
  font-size: 14px;
  color: #0078e1;
  text-decoration: none;
}

.view-channel-link:hover {
  text-decoration: underline;
}

/* Menu List */
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list img {
  width: 25px;
  margin-right: 18px;
}

.menu-item-2,
.menu-item {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(22, 22, 22);
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item-2 {
  justify-content: space-between;
}

.menu-item-2:hover,
.menu-item:hover {
  background-color: #eee;
}

.right-button {
  margin-left: auto; /* Pushes the icon to the far right */
  margin-right: 0 !important;
}

.menu-hr {
  width: 300px;
  margin: 8px 0;
  border: none;
  border-top: 0.9px solid #ddd;
}
