.topic-bar-container {
  position: relative;
  font-family: Roboto, Arial;
  font-weight: 500;
  display: flex;
  height: 60px; /* distance to navbar */
  align-items: center;
  position: fixed;
  right: 0;
  left: 240px;
  top: 55px;
  z-index: 1;
  background-color: white;
}

.topic-bar-container::before
{
  content: '';
  position: absolute;  
  left: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to right, rgb(255, 255, 255), transparent);
  pointer-events: none; 
}

.topic-bar-container::after
{
  content: '';
  position: absolute;  
  right: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to left, rgb(255, 255, 255), transparent);
  pointer-events: none; 
}

.topic-bar {
  display: flex;
  gap: 10px; /* the gaps between topics */
  overflow-x: auto; /* scrolbar in horizontal axis */
  scrollbar-width: none;
  scroll-behavior: smooth; /* smooth the scrolbar */
  padding: 15px 7px;
}

.topic,
.topic-active {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 9px;
  background-color: #ececec;
  cursor: pointer;
}

/* active is when button pressed */

.topic:hover {
  background-color: #d8d8d8;
  color: black;
  transform: scale(1.05);
  outline: none;
}

.topic-active,
.topic:focus{
  background-color: black;
  color: white;
}

.topic:active {
  transform: scale(1.02);
}

.scroll-button {
  background-color: #ffffff00;
  border: none;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-button img
{
  margin-top: 3px;
}

/* Scrollbar Styling */

.topic-bar:hover {
  scrollbar-width: auto;
  padding-top: 20px;
}

.topic-bar::-webkit-scrollbar {
  height: 7px;
}

.topic-bar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .topic-bar-container
    {
      left: 150px;
    }
  }
