/* channel name and actions */
.mid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.owner,
.actions {
    display: flex;
    flex: 1;
}

.owner img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.owner-info {
    display: flex;
    flex-direction: column;
}

.channel-name {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.subscribers {
    font-size: 0.8rem;
    color: #666666;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 35px;
    line-height: 1.1;
    /* Adjust line-height to move text up */
    padding: 10px;
    margin-left: 35px;
    background-color: #0f0f0f;
    color: white;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.1s;
}
.subscribe-button:hover {
    background-color: #242424;
}
.subscribe-button:active {
    transform: scale(0.95);
}
.subscribe-button:focus {
    background-color: #ddd;
    color: #0f0f0f;
}

@media (max-width: 1014px) {
    .subscribe-button {
        margin: 0px 0 0 10px; /* top right bottom left */
    }
  }

/* actions */
.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Single action button */
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: none;   
    width: auto;
    height: 35px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-top: -4px;
}

.action:hover {
    background-color: #dfdfdf;
}

/* like and dislike */
.action.like
{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 80px;
    border-radius: 20px 0px 0px 20px; /* Top Left, Top Right, Bottom Right, Bottom Left */
    border-right: 1px solid rgb(205, 205, 205);
}
.action.like img
{
    display: block;
    width: 65px;
    transform: translate(-30%, -35%);
}
.count-text
{
    position: absolute;
    top: 50%; /* Vertically centers the text */
    left: 70%; /* Horizontally centers the text */
    transform: translate(-50%, -50%); /* Adjusts for exact center */
    font-size: 14px;
}
.action.dislike
{
    margin-right: 8px;
    border-radius: 0px 20px 20px 0px; /* Top Left, Top Right, Bottom Right, Bottom Left */
}
.action.dislike img
{
    margin-top: 5px;
}
.action.more .icon
{
    margin-right: 0;
    padding: 0;
    line-height: 0;
}
.icon {
    font-size: 16px;
    margin-right: 6px;
}
.text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 1368px)
{
    .action.save
    {
        display: none;
    }
}
@media (max-width: 1268px)
{
    .action.clip
    {
        display: none;
    }
}
@media (max-width: 1180px)
{
    .action.download
    {
        display: none;
    }
}
@media (max-width: 1050px)
{
    .action.share
    {
        display: none;
    }
}