.comment-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.avatar
{
    margin-right: 17px;
}
.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
}

.content {
    flex: 1;
}

.username {
    font-weight: bold;
    color: rgb(26, 26, 26);
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.comment-text {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: rgb(29, 29, 29);
}

.comment-action {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 13px;
}

.button-like,
.button-dislike,
.button-reply
{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

.button-reply
{   
    padding: 9px 12px;
    border-radius: 15px;
}

.comment-icon
{
    padding: 3px;
    border-radius: 50%;
}

.comment-icon:hover,
.button-reply:hover
{
    background-color: #ddd;
}

.comment-likes
{
    font-size: 0.8rem;
    color: gray;
}