.topic-bar-container {
    position: relative;
    font-family: Roboto, Arial;
    font-weight: 500;
    display: flex;
    height: 80px;/* distance to navbar */
    align-items: center;
    z-index: 1;
    width: 390px;
    margin-bottom: -2px;
}
@media (max-width: 1014px) {
    .topic-bar-container {
        width: auto;
    }
  }
.topic-bar-container::before
{
  content: '';
  position: absolute;  
  left: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to right, rgb(255, 255, 255), transparent);
  pointer-events: none; 
}

.topic-bar-container::after
{
  content: '';
  position: absolute;  
  right: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to left, rgb(255, 255, 255), transparent);
  pointer-events: none; 
}

.topic-bar {
    display: flex;
    gap: 10px;/* the gaps between topics */
    overflow-x: auto;/* scrolbar in horizontal axis */
    scroll-behavior: smooth;/* smooth the scrolbar */
    padding: 5px 7px;
}

.topic,
.topic-active {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 9px;
    background-color: #ececec;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

/* active is when button pressed */

.topic:hover {
    background-color: #d8d8d8;
    color: black;
    transform: scale(1.05);
    outline: none;
}

.topic-active,
.topic:focus {
    background-color: black;
    color: white;
}

.topic:active {
    transform: scale(1.02);
}

.scroll-button {
    background-color: #ffffff00;
    border: none;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-button img {
    margin-top: 3px;
}

.scroll-button:hover {
    background-color: #ebebeb;
}

/* Scrollbar Styling */
.topic-bar::-webkit-scrollbar {
    height: 6px;
}

.topic-bar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.topic-bar::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}