p {
  margin-top: 0px;
  font-family: Roboto, Arial;
}

h3,
a,
li
{
  font-family: Roboto, Arial;
}

body {
  margin: 0;
  padding-top: 150px;
  padding-left: 260px;
  padding-right: 30px;
}
hr {
  border-color: rgba(241, 241, 241, 0.281);
  width: 200px;
  margin: 13px 0px;
}