.header {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 22px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.rigth-section {
  width: 150px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-btn {
  border-radius: 40px;
  padding: 8px 8px;
}
.menu-btn:hover {
  background-color: rgb(231, 231, 231);
}
.menu-icon {
  display: flex;
}
.youtube-logo {
  height: 20px !important;
  margin-left: 18px;
  cursor: pointer;
}
.middle-section {
  flex: 1;
  display: flex;
  max-width: 700px;
  align-items: center;
}
/* plus */

.cointainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.search-bar {
  flex: 1;
  display: flex;
  border: solid 1px rgb(197, 197, 197);
  align-items: center;
  border-radius: 60px;
  padding: 0px 0px 0px 10px;
  box-shadow: inset 0px 0px 1px rgb(160, 160, 160);
  width: 25z0px;
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(27, 27, 27, 0.836);
}
.serch-icon {
  padding: 8px 20px;
  border: none;
  border-left: solid 1px rgb(197, 197, 197);
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.1s;
}
.serch-icon:hover {
  background-color: rgb(231, 231, 231);
}
.mic-icon {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.mic-icon:hover{
  background-color: rgb(230, 229, 229);
}
.left-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.plus-btn {
  height: 33px;
  width: 99px;
  background-color: rgb(241, 241, 241);
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.plus-btn:hover{
  background-color: rgb(230, 230, 230);
}
.plus-icon {
  margin-left: 13px;
  padding-bottom: 2.5px;
}
.create {
  font-size: 14px;
  font-weight: 410;
  margin-left: 5px;
  margin-bottom: 4px;
}
.bell-btn {
 padding: 7px 7px;
  margin-right: 17px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.bell-btn:hover{
  background-color: rgba(228, 228, 228, 0.774);
}
.notification-icon {
  position: absolute;
  background-color: rgba(233, 14, 14, 0.774);
  color: white;
  padding: 2px 5px;
  border-radius: 50px;
  font-size: 12px;
  font-family: Roboto, Arial;
  top: -5px;
  right: -7px;
}

.serch-icon,
.notification-container,
.mic-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bell-btn:hover .tooltips,
.serch-icon:hover .tooltips,
.mic-icon:hover .tooltips {
  opacity: 1;
}
.tooltips {
  position: absolute;
  bottom: -50px;
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 9px 7px;
  border-radius: 6px;
  font-size: 12px;
  font-family: roboto, arial;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

/* User Profile */
.profile-container {
  position: relative;
  display: inline-block;
  height: 43px;
}

.profile-icon {
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dropdown Menu */
.profile-menu {
  display: none;
  position: absolute;
  top: 43px;
  right: 0;
  background-color: white;
  border-radius: 12px;
  width: 330px;
  height: 815px;
  padding: 5px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.profile-container:hover .profile-menu {
  display: block;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.dropdown-pic {
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-name {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.view-channel-link {
  font-size: 14px;
  color: #0078e1;
  text-decoration: none;
}

.view-channel-link:hover {
  text-decoration: underline;
}

/* Menu List */
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list img
{
  width: 25px;
  margin-right: 18px;
}

.menu-item-2,
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(22, 22, 22);
  cursor: pointer;
}

.menu-item-2
{
  justify-content: space-between;
}

.menu-item-2:hover,
.menu-item:hover {
  background-color: #eee;
}

.right-button
{
  margin-left: auto; /* Pushes the icon to the far right */
  margin-right: 0 !important;
}

.menu-hr {
  width: 340px;
  margin: 8px 0;
  border: none;
  border-top: 0.9px solid #ddd;
}
