/* General Styles */
body {
    font-family: Roboto, Arial;
    margin: 0px;
    padding: 60px 100px 0px 100px;
    /* Top, Right, Bottom, Left */
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


a {
    color: rgb(0, 94, 255);
}

p {
    margin-top: 0px;
    font-family: Roboto, Arial;
}

.main-content {
    display: flex;
    flex-direction: row;
}

/* Video Section */
.video-section {
    flex: 3;
    /* video section is three times recomended section */
    margin-right: 20px;
    margin-top: 20px;
}

.video-player iframe {
    width: 100%;
    height: 700px;
    max-width: 1280px;
    max-height: 700px;
    min-width: 320px; /* Or any minimum width you want */
    min-height: 180px; /* Or any minimum height you want */
    margin: 0 auto;
    overflow: hidden; /* Prevents any content from overflowing */
    box-sizing: border-box; /* Ensures padding doesn't break the layout */
    border-radius: 12px;
}

/* video title */
.top-row h1 {
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 8px;
}

/* channel name and actions */
.mid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.owner,
.actions {
    display: flex;
    flex: 1;
}

.owner img {
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.owner-info {
    display: flex;
    flex-direction: column;
}

.channel-name {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.subscribers {
    font-size: 0.8rem;
    color: #666666;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 35px;
    line-height: 1.1;
    /* Adjust line-height to move text up */
    padding: 10px;
    margin-left: 35px;
    background-color: #0f0f0f;
    color: white;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.1s;
}
.subscribe-button:hover {
    background-color: #242424;
}
.subscribe-button:active {
    transform: scale(0.95);
}
.subscribe-button:focus {
    background-color: #ddd;
    color: #0f0f0f;
}

/* actions */
.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Single action button */
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: none;   
    width: auto;
    height: 35px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.action:hover {
    background-color: #dfdfdf;
}

/* like and dislike */
.action.like
{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 80px;
    border-radius: 20px 0px 0px 20px; /* Top Left, Top Right, Bottom Right, Bottom Left */
    border-right: 1px solid rgb(205, 205, 205);
}
.action.like img
{
    display: block;
    width: 65px;
    transform: translate(-30%, -35%);
}

.count-text
{
    position: absolute;
    top: 50%; /* Vertically centers the text */
    left: 70%; /* Horizontally centers the text */
    transform: translate(-50%, -50%); /* Adjusts for exact center */
    font-size: 14px;
}

.action.dislike
{
    margin-right: 8px;
    border-radius: 0px 20px 20px 0px; /* Top Left, Top Right, Bottom Right, Bottom Left */
}
.action.dislike img
{
    margin-top: 5px;
}

.action.more .icon
{
    margin-right: 0;
    padding: 0;
    line-height: 0;
}

/* Icons and text inside each button */
.icon {
    font-size: 16px;
    margin-right: 6px;
}

.text {
    font-size: 14px;
    font-weight: 500;
}

/* description */
.bottom-row {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
}

.views {
    font-size: 0.85rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.05rem;
    margin-bottom: 3px;
}

.description p,
.description li,
.contact p,
.links li {
    font-size: 0.9rem;
    font-weight: 400;
}

/* Recommended Section */
.recommended-section {
    margin: 0px 0px 0px 4px;
    /* Top, Right, Bottom, Left */
    flex: 1;
    border-radius: 8px;
}

.video-card {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.video-card:hover
{
    background-color: rgb(250, 250, 250);
}

.video-card-info
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.video-card img {
    width: 167px;
    height: 92px;
    border-radius: 8px;
    margin-right: 10px;
}

.video-card h4 {
    margin-bottom: 8px;
    margin-top: 1px;
    font-size: 0.9rem;
    font-weight: 500;
}

.video-card span {
    font-size: 12px;
    font-weight: 400;
    color: rgb(59, 59, 59);
}