.sidebar-container {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 150px;
  padding: 7px 13px;
}
.sidebar-links-home {
  padding: 8px 10px;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  transition: background-color 0.5s;
}
.sidebar-links-home img {
  width: 23px; 
}
.sidebar-links-home div {
  padding-left: 23px;
  color: rgb(46, 46, 46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-links {
  display: flex;
  border-radius: 10px;
  padding: 8px 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.sidebar-links:hover,
.you-icon:hover {
  background-color: rgb(220, 220, 220);
  }

.sidebar-links-home:hover {
  background-color: rgb(220, 220, 220);
}
.sidebar-links img {
  width: 24px;
}
.sidebar-links div {
  padding-left: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.you-icon {
  padding: 8px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  color: rgb(27, 27, 27);
  cursor: pointer;
  padding-left: 10px;
  border-radius: 10px;
  transition: background-color 0.5s;
}
.you-icon img {
  padding-left: 5px;
}
.subscription-icon {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}
