.subscription-icon {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    margin: 0;
  }

.section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* ul */
.subscription-list{
    list-style: none;
    padding: 0px 9px;
    margin: 0;
}

/* li */
.subscription-item{
    display: flex;
    align-items: center;
    padding: 7px 0;
    cursor: pointer;
    font-size: 14px;
    border-radius: 11px;
}

.subscription-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
}

.subscription-item span {
    flex-grow: 1;
}

.subscription-item:hover
{
    background-color: rgb(226, 226, 226);
}

.live-icon-r {
    color: #ff0000;
    font-size: 12px;
    margin-left: 4px;
}

.live-icon-b {
    color: #0099ff;
    font-size: 12px;
    margin-left: 4px;
}