.topic-bar-container {
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 60px;
  z-index: 1;
  background-color: white;
  right: 0;
  left: 0;
  margin-left: 250px;
}

.topic-bar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 5px 0;
}

.topic {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.topic:focus,
.topic:hover {
  background-color: #007BFF;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}
.topic:active {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-button {
  background-color: #ffffff00;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 5px 6px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-button:hover {
  background-color: #ebebeb;
}

.scroll-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Scrollbar Styling */
.topic-bar::-webkit-scrollbar {
  height: 6px;
}

.topic-bar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.topic-bar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .topic {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .scroll-button {
      display: none;
    }
  } */
