.topic-bar-container {
  font-family: Roboto, Arial;
  font-weight: 500;
  display: flex;
  height: 80px; /* distance to navbar */
  align-items: center;
  position: fixed;
  top: 55px;
  z-index: 1;
  background-color: white;
  right: 0;
  left: 250px;
}

.topic-bar {
  display: flex;
  gap: 10px; /* the gaps between topics */
  overflow-x: auto; /* scrolbar in horizontal axis */
  scroll-behavior: smooth; /* smooth the scrolbar */
  padding: 15px 7px; /* 6px padding on the top and bottom. */
}

.topic,
.topic-active {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 9px;
  background-color: #ececec;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

/* active is when button pressed */

.topic:hover {
  background-color: #d8d8d8;
  color: black;
  transform: scale(1.05);
  outline: none;
}

.topic-active,
.topic:focus{
  background-color: black;
  color: white;
}

.topic:active {
  transform: scale(1.02);
}

.scroll-button {
  background-color: #ffffff00;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 5px 6px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-button:hover {
  background-color: #ebebeb;
}

/* Scrollbar Styling */
.topic-bar::-webkit-scrollbar {
  height: 6px;
}

.topic-bar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.topic-bar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .topic-bar-container
    {
      left: 150px;
    }
  }
